body{
    background-color: black;
}
.main {
  position: relative;
  height: 300px;
  width: 600px;
  border:1px solid white;
}

.a {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 300px;
  background-color: #ffffff;
}

.b {
  position: absolute;
  left: 150px;
  top: 0;
  width: 450px;
  height: 150px;
  background-color: #ff0000;
}

.c {
  position: absolute;
  left: 150px;
  top: 150px;
  width: 450px;
  height: 150px;
  background-color: #008000;
}